In [2]:
from sklearn import datasets

In [96]:
iris = datasets.load_iris()

In [8]:
iris.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
trainX,testX,trainY,testY = train_test_split(iris.data,iris.target)

In [11]:
trainX[:3]

array([[6.1, 2.9, 4.7, 1.4],
       [4.9, 3.1, 1.5, 0.2],
       [5.6, 2.7, 4.2, 1.3]])

In [13]:
testX[:3]

array([[4.9, 3.1, 1.5, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [6.7, 3.1, 4.7, 1.5]])

In [15]:
testY[:3]

array([0, 0, 1])

In [16]:
from sklearn.tree import DecisionTreeClassifier

In [17]:
dt = DecisionTreeClassifier()

In [18]:
dt.fit(trainX,trainY)

DecisionTreeClassifier()

In [25]:
predicted_value = dt.predict(testX)
predicted_value

array([0, 0, 1, 0, 2, 1, 1, 1, 2, 2, 1, 1, 0, 0, 1, 0, 2, 2, 1, 2, 2, 0,
       0, 2, 0, 0, 1, 0, 2, 0, 2, 1, 2, 0, 2, 0, 1, 1])

In [20]:
print(testY)

[0 0 1 0 2 1 1 1 1 2 1 1 0 0 2 0 2 2 1 2 2 0 0 2 0 0 1 0 2 0 2 1 2 0 2 0 1
 1]

In [23]:
from sklearn.metrics import accuracy_score

In [41]:
print(accuracy_score(predicted_value,testY))

0.9473684210526315

In [28]:
from sklearn.linear_model import LogisticRegression

In [37]:
lr = LogisticRegression()
lr.fit(trainX,trainY)

LogisticRegression()

In [39]:
lr_predict = lr.predict(testX)

In [40]:
print(accuracy_score(lr_predict,testY))

0.9736842105263158

In [66]:
import pandas as pd

In [67]:
diabetes = pd.read_csv("https://raw.githubusercontent.com/susanli2016/Machine-Learning-with-Python/master/diabetes.csv")

In [68]:
diabetes.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

In [74]:
diabetes.Outcome.value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [70]:
diabetes.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [75]:
diabetes_dataset = datasets.load_diabetes()

In [78]:
diabetes_data = pd.DataFrame(diabetes_dataset.data,columns=[diabetes_dataset.feature_names])
diabetes_data

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641
...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064

In [81]:
diabetes_data = diabetes_data.assign(target=pd.Series(diabetes_dataset.target))

In [82]:
diabetes_data.head(10)

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0
5,-0.092695,-0.044642,-0.040696,-0.019442,-0.068991,-0.079288,0.041277,-0.076395,-0.041180,-0.096346,97.0
6,-0.045472,0.050680,-0.047163,-0.015999,-0.040096,-0.024800,0.000779,-0.039493,-0.062913,-0.038357,138.0
7,0.063504,0.050680,-0.001895,0.066630,0.090620,0.108914,0.022869,0.017703,-0.035817,0.003064,63.0
8,0.041708,0.050680,0.061696,-0.040099,-0.013953,0.006202,-0.028674,-0.002592,-0.014956,0.011349,110.0
9,-0.070900,-0.044642,0.039062,-0.033214,-0.012577,-0.034508,-0.024993,-0.002592,0.067736,-0.013504,310.0

In [83]:
trainX,testX,trainY,testY = train_test_split(diabetes_dataset.data,diabetes_dataset.target)

In [84]:
from sklearn.tree import DecisionTreeRegressor

In [85]:
dtr = DecisionTreeRegressor()
dtr.fit(trainX,trainY)

DecisionTreeRegressor()

In [86]:
diabetes_predict = dtr.predict(testX)

In [87]:
print(accuracy_score(diabetes_predict,testY))

0.009009009009009009

In [89]:
from sklearn.ensemble import RandomForestRegressor

In [91]:
rfr = RandomForestRegressor()
rfr.fit(trainX,trainY)

RandomForestRegressor()

In [92]:
diabetes_pred = rfr.predict(testX)

In [94]:
from sklearn.metrics import r2_score

In [95]:
print(r2_score(diabetes_pred,testY))

-0.26638445509718234